<div>
  <body>  <h1>Employee Management Portal</h1><hr>
  </body>

  <div class="butdiv">
  <button id="button" type="button" ><a routerLink="./View"  >View</a></button>
  <button type="button"><a routerLink="Add">Add</a></button></div>
  <!-- <hr> -->
  <!-- <button type="button"><a routerLink="Retrieve">Retrieve</a></button> -->

  <!-- <button type="button"><a [routerLink]="['/Edit']">Edit</a></button>
  <button type="button">Delete</button> -->
  
    <router-outlet></router-outlet>
  
</div>

