input{
    background-color: rgb(163, 212, 208);
    position: absolute;
        
    left: 20%;
    
}
.button {padding: 7px 24px;
    background-color: rgba(24, 129, 124, 0.918);
    color: lightskyblue;
    }

